h2,
h3 {
  display: inline;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
}

body {
  font-family: "Grandstander", cursive;
  background-image: url(/img/pikachu-background.jpg);
  background-size: cover;
}
